<div class="header-inner">
  <div class="header-logo">
    <a href="."><img src="assets/img/logo.svg" alt="Necopon games"></a>
  </div>
  <div class="header-nav">
    <nav class="gnav">
      <ul class="gnav-list">
        <li class="gnav-item"><a href="#story">STORY</a></li>
        <li class="gnav-item"><a href="#trailer">TRAILER</a></li>
        <li class="gnav-item gnav-cta"><a href="#" class="btn btn--sm">PLAY NOW</a></li>
      </ul>
      <div class="gnav-audio">
        <div class="audioSwitch">
          <button id="js-audio-play"><span class="audioSwitch-text">SOUND OFF</span>
            <span class="audioSwitch-icon material-icons-round">volume_up</span></button>
        </div>
        <audio id="js-audio" loop>
          <source src="assets/audio/cinematic-melody-main-9785.mp3" type="audio/mp3">
        </audio>
      </div>
    </nav>
  </div>
</div>